<div class="card-body pb-0 pt-2">
    <form action="/api/carts/{{user.cart}}?_method=DELETE" method="POST">
        <button class="btn btn-outline-danger btn-sm mb-3 px-5" type="submit">Clean all product</button>
    </form>
</div>
<div class="d-flex flex-wrap justify-content-center">
    {{#each cart.products}}
    <div class='col-sm-3     mx-2 my-3 r'>
        <div class="card w-100 mt-5">
            <div class="card-header text-white bg-dark">
                {{id_product.title}}
            </div>
            <div class="card-body">
                <img src={{id_product.thumbnail}}alt="Products img">
                <br />
                Price: € {{id_product.price}}
                <br />
                Stock : {{id_product.stock}}
                <br />
                Quantity : {{quantity}}
                <br />
                <br />
                <form class="d-flex " action="/api/carts/{{../cart._id}}/product/{{id_product._id}}?_method=PUT"
                    method="POST">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-dark btn-sm " type="submit" id="button-addon1">New
                            quantity</button>
                        <input type="number" name="quantity" class="form-control" aria-describedby="button-addon1"
                            required>
                </form>
            </div>
        </div>
        <div class="card-body pb-0 pt-2 d-flex gap-1">
            <form action="/api/products/" method="get">
                <button class="btn btn-outline-primary btn-sm mb-3 px-5" type="submit">Keep buying</button>
            </form>
            <form action="/api/carts/{{../cart._id}}/product/{{id_product._id}}?_method=DELETE" method="POST">
                <button class="btn btn-outline-danger btn-sm mb-3 px-5" type="submit">Delete Item</button>
            </form>
        </div>
    </div>
</div>
{{/each}}
</div>
<div class="card-body pb-0 pt-2 d-flex gap-3 mb-4">
    <h2>Total: €{{total}}</h2>
    <form action="/api/carts/{{user.cart}}/purcharse" method="POST">
        <button class="btn btn-outline-dark btn-sm mb-3 px-5" type="submit">Generate order</button>
    </form>
</div>