<div class="d-flex flex-wrap  justify-content-center">
    {{#each products}}
    <div class='col-sm-3 mx-2 my-3 r'>
        <div class="card w-100 mt-5">
            <div class="card-header text-white bg-dark">
                {{title}}
            </div>
            <div class="card-body">
                <img src={{thumbnail}}alt="Products img">
                <br />
                Price: € {{price}}
                <br />
                Stock : {{stock}}
            </div>
            <div class="card-body pb-0 pt-2">
                <form action="/api/products/{{_id}}" method="get">
                    <button class="btn btn-outline-primary btn-sm mb-3 px-5" type="submit">Product details</button>
                </form>
            </div>

        </div>
    </div>
    {{/each}}

</div>